<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
<appSettings file="">
    <clear />
    <add key="RegistrationType" value="Demo" />
    <add key="ExpiryDate" value="zIEpTkuDhopxs7SsxYFG6i6fgZQC+l5xiHaSSaXAFW8=" />
    <add key="LeftLogo" value="C:\Users\tcd\Documents\Visual Studio 2013\Projects\YankeeShower\YankeeShower\bin\Debug\Buckman20.png" />
    <add key="RightLogo" value="C:\Users\tcd\Documents\Visual Studio 2013\Projects\YankeeShower\YankeeShower\bin\Debug\PT.ico" />
    <add key="FooterText" value="Commitment makes the best chemistry" />
    <add key="FooterTextColor" value="#FF006A53" />
    <add key="MRUList" value="C:\Users\tcd\Documents\Visual Studio 2013\Projects\YankeeShower\YankeeShower\bin\Debug\test.SHR,C:\Users\tcd\Documents\Visual Studio 2013\Projects\YankeeShower\YankeeShower\bin\Debug\new.SHR,C:\Users\tcd\Documents\Visual Studio 2013\Projects\YankeeShower\YankeeShower\bin\Debug\new2.SHR" />
</appSettings>
</configuration>
