<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
<appSettings file="">
    <clear />
    <add key="LeftLogo" value="D:\Projects\YankeeShower\YankeeShower\bin\Debug\Buckman20.png" />
    <add key="RightLogo" value="D:\Projects\YankeeShower\YankeeShower\bin\Debug\PT.ico" />
    <add key="FooterText" value="Chemistry Connected" />
    <add key="FooterTextColor" value="#FF006A53" />
    <add key="MRUList" value="D:\Projects\YankeeShower\YankeeShower\bin\Debug\new test 2019-2.SHR,D:\Projects\YankeeShower\YankeeShower\bin\Debug\new test 2019.SHR,C:\Users\tcd\Documents\Visual Studio 2013\Projects\YankeeShower\YankeeShower\bin\Debug\new.SHR,C:\Users\tcd\Documents\Visual Studio 2013\Projects\YankeeShower\YankeeShower\bin\Release\test.SHR,C:\Users\tcd\Documents\Visual Studio 2013\Projects\YankeeShower\YankeeShower\bin\Debug\test.SHR,C:\Users\tcd\Documents\Visual Studio 2013\Projects\YankeeShower\YankeeShower\bin\Debug\new2.SHR" />
</appSettings>
</configuration>
